footer{
    @extend %flex-content;
    align-items: center;
    background-color: $color-header-footer;
    padding: $espaciado-normal;
    margin-top: auto;
    .copyright{
        @extend %flex-align-items;
        margin-left: $espaciado-mediopx;
        padding: 20px 0;
    }
    .imgDDA{
        @include sizes(20px, 20px);
    }
    h5{
        margin-right: 0.5rem;
        font-size: 0.83rem;
        font-weight: bold;
    }
}
    