footer{
    display: flex;
    align-items: center;
    background-color: #A6E3E9;
    padding: 10px;
    margin-top: auto;
    justify-content: center;
    .copyright{
        display: flex;
        margin-left: 5px;
        align-items: center;
        padding: 20px 0;
    }
    .imgDDA{
        width: 20px;
        height: 20px;
    }
    .imgWhats{
        width: 4rem;
        height: 4rem;
        position: fixed;
        right: 0;
        bottom: 0;
        &:hover{
            transform: scale(1.1);
        }
    }
    h5{
        margin-right: 0.5rem;
        font-size: 0.83rem;
        font-weight: bold;
    }
    
}