header{
    h1{
        @include margin-padding(20px, 20px);
        text-align: center;
    }
    &.headerInicio{
        @extend %flex-align-items;
        background-color: $color-header-footer;
        justify-content: space-evenly;
        padding: 10px;
    }
        nav{
            ul{
        display: flex;
        column-gap: 5px;
        list-style: none;
                li{
                    a{
                        color: black;
                    }
                    &:hover{
                        transform: scale(0.9);
                        background-color: rgb(247, 240, 240);
                    }
                }
                        }

                a{
            list-style: none;
            background-color: #F9F9F9;
            padding: 0.6rem;
            border-radius: 4rem;
            box-shadow: 2px 2px 2px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-right: 1rem;
            font-size: large;
            color: black !important;
            font-weight: bold !important;
                        }
        }

    }