header{
    .logoInicio{
        width: 250px;
    }
    &.headerInicio{
        @extend %flex-align-items;
        background-color: $color-header-footer;
        justify-content: space-evenly;
        padding: $espaciado-normal;
    }
        nav{
            ul{
        display: flex;
        column-gap: $espaciado-mediopx;
        list-style: none;
                li{
                    a{
                        color: black;
                    }
                    &:hover{
                        transform: scale(0.9);
                        background-color: rgb(247, 240, 240);
                    }
                }
                        }

                a{
            list-style: none;
            background-color: $color-fondo;
            padding: 0.6rem;
            border-radius: 4rem;
            box-shadow: 2px 2px 2px;
            margin-top: $espaciado-1rem;
            margin-bottom: $espaciado-1rem;
            margin-right: $espaciado-1rem	;
            font-size: large;
            color: black !important;
            font-weight: bold !important;
                        }
        }

    }