main{
    .textoCentral{
        display: flex;
        p{
            list-style: none;
            padding: 30px;
            margin-top: 50px;
            list-style: none;
            font-size: 1.5rem;
            text-align: center;
            }
            .imagenPrincipal{
                width: 100%;
                border-radius: 40px;
                margin-top: 30px;
                padding: 30px;
                &:hover{
                    transform: scale(1.0);
                    padding: 5px;
                }
            }
    }
    &.mainServicios{
        margin: 20px;
        h2{
            margin: 20px;
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
        }
        .sectionServicios{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            p{
                margin-top: 7px;
                padding: 30px;
                font-size: 1rem;
                text-align: center;
            }
            img{
                width: 20%;
                margin-top: 2rem;
                animation-name: servicios;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }
            .itemSectionContent{
                display: flex;
                flex-direction: column;
                align-items: center; 
                justify-content: center;
            }
        }
    }
    &.mainNosotros{
        margin: 20px;
        h2{
            margin-top: 20px;
            padding-bottom: 10px;
            text-align: center;
        }
        .sectionNosotros{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            margin: 3rem;
            img{
                width: 100px;
                height: 100px;}
            h5{
                text-align: center;
                height: 30px;
                padding-top: 30px;
                font-weight: bold;}
            p{
                margin: 30px;
                padding: 30px 0;
                font-size: 25px;
                text-align: center;
            }
            div p{
                text-align: center;
                font-size: 1rem;
                margin-top: 4.5rem;
            }
        }
        
    }
    &.imagenesAlgunosClientes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 10px;
        padding: 0 20px;}
        img{
            width:  100%;
            object-fit: cover;
            border-radius: 30px;}
            &:first-child{
                padding-top: 20px;
    }
    &.redess{
        display: flex;
        justify-content: center;
        padding: 10px;
        img{
            width: 3rem;
            height: 3rem;
            margin: 0.5rem;
            border-radius: 0;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
.sectionContacto{
    margin: 50px;
    padding: 50px;
    & + .h4Contactanos{
        text-align: center;
        margin-top: 20px;
    }
    label{
        font-weight: bold;
    }
}