@media screen and (min-width: 768px){
    .imagenPrincipal{
        width: 700px;
        height: 500px;

    }

    .textoCentral{
        padding: 2rem;
    }

    .imagenesAlgunosClientes img{
        width:  100%;
        height: 350px;
    }
    
    .imagenesAlgunosClientes img:first-child{
        padding-top: 0px;
     }
     
     .imagenesAlgunosClientes{
         padding: 0;
     }

     /* para agregar grid debes colocar primero el display, luego si lo quieres en columnas o rows (o inclusive uno sólo) y posterior darle valores. En este caso el 3 es para "3 columnas" y el 1FR es para que se repita la misma unidad para las imagenes que trabajaré. Luego agrego un gap entre las imagenes. OJO, debes remover los margin y padding pre existentes en las clases hijos y a su vez cualquier float que posea. */
     
     main.imagenesAlgunosClientes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 10px;
        padding: 10px;
    }

    .botonMenuMobile{
        display: none;
    }

    .sectionNosotros{
        display: flex;
        justify-content: center;
        padding: 3rem;
        margin: 3rem;
    }

    .sectionNosotros{
        display: flex;
        flex-direction: row;
    }

    .mainServicios h2{
        font-size: 1.3em;
    }

    .imagenPrincipal{
        width: 700px;
        height: 500px;

    }

    .textoCentral{
        padding: 2rem;
    }

    .imagenesAlgunosClientes img{
        width:  100%;
        height: 350px;
    }
    
    .imagenesAlgunosClientes img:first-child{
        padding-top: 0px;
     }
     
     .imagenesAlgunosClientes{
         padding: 0;
     }

     /* para agregar grid debes colocar primero el display, luego si lo quieres en columnas o rows (o inclusive uno sólo) y posterior darle valores. En este caso el 3 es para "3 columnas" y el 1FR es para que se repita la misma unidad para las imagenes que trabajaré. Luego agrego un gap entre las imagenes. OJO, debes remover los margin y padding pre existentes en las clases hijos y a su vez cualquier float que posea. */
     
     main.imagenesAlgunosClientes{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 10px;
        padding: 10px;
    }

    .botonMenuMobile{
        display: none;
    }

    .sectionNosotros{
        display: flex;
        justify-content: center;
        padding: 3rem;
        margin: 3rem;
    }

    .sectionNosotros{
        display: flex;
        flex-direction: row;
    }

    .mainServicios h2{
        font-size: 1.3em;
    }

    main .sectionServicios img{
        width: 7%;
    }

    .mainServicios div p{
        font-size: 1.3rem;
    }

    main.mainServicios .sectionServicios img{
        width: 7%;
    }

    .mainServicios div p{
        font-size: 1.3rem;
    }

    .sectionContacto{
        margin: 100px;
        padding: 0 450px;
    }
}