@media screen and (min-width: 768px){

    .imagenPrincipal{
        @include sizes(700px, 500px);
    }

    .textoCentral{
        padding: $espaciado-2rem;
    }

     /* para agregar grid debes colocar primero el display, luego si lo quieres en columnas o rows (o inclusive uno sólo) y posterior darle valores. En este caso el 3 es para "3 columnas" y el 1FR es para que se repita la misma unidad para las imagenes que trabajaré. Luego agrego un gap entre las imagenes. OJO, debes remover los margin y padding pre existentes en las clases hijos y a su vez cualquier float que posea. */
     
     main.imagenesAlgunosClientes{
        display: grid;
        @include grid-algunos(3, 20px);
        margin-top: $espaciado-normal;
        padding: $espaciado-normal;
    }

    .botonMenuMobile{
        display: none;
    }

    .sectionNosotros{
        display: flex;
        justify-content: center;
        @include margin-padding(3rem, 3rem);
    }

    h1{
        font-size: 2rem;
    }

    h3{
        font-size: 1.2rem;
    }

    .mainServicios h2{
        font-size: 1.3em;
    }

    .imagenesAlgunosClientes img{
        @include sizes(100%, 350px);
    }
    
    .imagenesAlgunosClientes img:first-child{
        padding-top: 0px;
     }
     
     .imagenesAlgunosClientes{
         padding: 0;
     }

    main .sectionServicios img{
        width: 7%;
    }

    main.mainServicios .sectionServicios img{
        width: 7%;
    }

    .sectionContacto{
        margin: 100px;
        padding: 0 450px;
    }
}